body{
    background: rgb(107, 107,241);
    font: normal 15pt Arial;

}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    text-align:center;
    padding:15px;
    border-radius: 20px;
    width: 500px; /*ajusta o tamanho ou estica*/
    margin:auto;  /*ajuda a centralizar*/
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);

}
footer {
    color: white;
    text-align: center; /*alinha o testo no centro*/
    font-style: italic; /*coloca a fonte da palavra em italico*/
}